
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

body{
    background-color: beige;
}
.container{
    width:70%px;
    background-color: white;
    margin:0 10%;
    padding: 20px 10px;
}

header{
    background-color: black;
    text-align: center;
    color:white;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

nav{
    background-color: #018301;
    width:70%;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    border-left: 8px solid yellow;
    border-right: 8px solid yellow;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

nav ul li{
    margin:0 14px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 5px 20px;
    transition: bacgroun-color 0.2 ese;
}
nav ul a:hover{
    background-color: #ffff29;
    color:black;
    border-radius: 5px;
}

.form-container {
    background: #e4e2e2;
    padding: 15px;
    margin-top: 80px;
    border-radius: 9px;
    width: 85%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
  
h2{
    text-align: center;
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
textarea {
    resize: none;
 }
  
button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
  
  button:hover {
    background-color: #312e2e;
  }

footer{
    width:100%;
    text-align:center;
    background-color: #28342c;
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}